
<h2>Editing scent</h2>
<p>
 <% if !@scent_image.nil? %>
  <%= image_tag @scent_image.url, :style => "width:100px;" %>
<% end %>
<br/>
<%= link_to "Edit icon", scent_icon_path(@scent) %>
</p>
<%= render 'form' %>