<h3>Workshop</h3>
<%= link_to "Scents", scents_path %>
<br/>
<%= link_to "Products", products_path %>
<br/>
<%= link_to "Coupons", coupons_path %>
<br/>
<%= link_to "Shipping Methods", shipping_methods_path %>