<h3>Thank you</h3>
<p>Your order has been processed. We will notify you again when it has shipped.</p>
<p><%= link_to "Check the status of my order", view_order_path(:id => @order_id, :email => @email) %></p>